__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypotheses

# Ignorar archivos grandes/binarios que la app puede descargar
# Para mantener la imagen ligera. Se recomienda usar volúmenes.
BreastSegNet_models/
Dataset910_BreastSegNet/
models/
converted_nifti/
ARCHIVE.zip
*.zip
*.part
